extends layout

block content
  div.grid-container
    each product in products
      div.grid-item
        a.item-title(href="/products/" + product._id) #{product.name}
        div #{product.price} €
  hr
